<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>La mia pizzeria</title>
  </head>
  <body>
    <header>
      <div th:insert="pizzas/index :: navbar"></div>
    </header>
    <main>
      <div class="container my-3">
        <h1 class="text-center py-3">Benvenuto nella Home</h1>
        <p class="py-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
          deserunt maxime sint eos ipsum. Aliquid qui sit sunt! Minus
          necessitatibus pariatur tempora totam adipisci delectus sint illum
          nostrum ex odio! Quo voluptatum eum dolores sint exercitationem,
          ratione aliquam nobis laboriosam rem, error fuga nisi quidem quis, ex
          doloremque eveniet quae omnis reprehenderit placeat at ullam
          obcaecati. Omnis culpa earum id. Quo laborum ab expedita qui nisi
          omnis voluptate tempore excepturi iusto suscipit nobis illum id ea
          doloremque sapiente at officia, sint iure quae temporibus distinctio
          numquam eum. Voluptatem, quis dignissimos? Doloremque repudiandae,
          placeat magnam autem blanditiis neque aperiam reprehenderit voluptas!
          Qui deserunt officia nisi facilis, molestias inventore maxime
          necessitatibus? Recusandae earum aperiam rem amet optio. Facere ullam
          quos ex aspernatur! Ducimus, eum architecto ipsa maxime temporibus
          necessitatibus illo odio, deleniti, corporis repellendus doloribus
          eius earum dolore amet obcaecati quis reprehenderit! Quasi optio
          provident voluptatem culpa minus corporis exercitationem ea veniam.
          Deleniti tempora aspernatur vel provident incidunt placeat omnis aut
          impedit obcaecati? Expedita, rem. Autem optio repudiandae voluptates
          similique adipisci, quidem nemo delectus magnam aliquam, beatae quis
          eos illum maxime in. Id iure aut optio reprehenderit facere, dicta
          odit! Error ex voluptatibus at culpa odit perferendis odio eius
          consequatur impedit ullam aliquam deserunt vel obcaecati, qui omnis
          mollitia minus esse dolores? Non vero repellat alias, saepe molestiae
          quia consectetur vel asperiores ab doloremque unde, sint perferendis
          tenetur deleniti quibusdam, voluptatum rem blanditiis obcaecati
          perspiciatis veritatis ducimus id iure. Dolores, qui quisquam? Maxime,
          exercitationem dolores repellendus at accusamus velit aut labore nam
          facilis illo, ipsum, nobis magnam. Maxime, quis impedit, nihil, illum
          assumenda eius tenetur quaerat odio ullam quisquam soluta similique
          excepturi. Repudiandae, eum nulla accusamus veritatis inventore
          incidunt, magni dignissimos, labore sed cum quae voluptatibus
          doloremque quod ea quas fugit molestiae tempora! Facilis, expedita.
          Dolores rerum, porro magni optio corporis hic?
        </p>
      </div>
    </main>
  </body>
</html>
